<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.2.xsd"
        name="hibiscus.ibankstatement" version="0.9.4" class="hibiscus.ibankstatement.Plugin">

  <description>Hibiscus - Profil-basierter Import von Kontoauszügen</description>
  <url>https://hibiscus.tvbrowser.org/download/hibiscus.ibankstatement.zip</url>
  <homepage>https://github.com/ds10git/ibankstatement</homepage>
  <license>GPL v2</license>

  <requires jameica="2.6.0+">
    <import plugin="hibiscus" version="2.6.0+" required="true"/>
  </requires>

  <classfinder>
    <include>hibiscus\.ibankstatement\.jar</include>
    <include>.*\.class</include>
  </classfinder>
  
  <extensions>
    <!-- Hibiscus-Extensions -->
    <extension class="hibiscus.ibankstatement.ContextMenuImportBankStatement" extends="de.willuhn.jameica.hbci.gui.menus.KontoList" requires="hibiscus"/>
  </extensions>
  
  <messaging>
    <consumer queue="hibiscus.ibankstatement"              class="hibiscus.ibankstatement.BankStatementMessageConsumer" />
  </messaging>
</plugin>
